<div class="sm-container">
  <div class="shadow-box user-box">
    <h1 class="box-title">
      <div class="flex-center">
        <div class='flex-fill'>
          Users
        </div>
      </div>


    </h1>
    <%= react_component 'Component.UserList' %>
  </div>

</div>
