<div class="container">
  <%= react_component 'Component.Revision', {repository: json_for(@repository),
                                             branch: json_for(@branch),
                                             revision: json_for(@revision)} %>
</div>
