<div class="sm-container">
  <% if user_signed_in? %>
      <%= react_component 'component.User', {user: json_for(current_user)} %>
  <% else %>
      <h1>Lint-CI</h1>
      <h2>Login</h2>
  <% end %>
</div>
