$blue: #04a0ff;
$dark-blue: #0088F7;
$red: #fa4b45;
$green: #6EDE45;
$primary-color: $blue;
$secondary-color: $red;
$background-color: #EFF0F4;


$grey_lightest: #fafafa;
$grey_lighter: #f5f5f5;
$grey_medium_light: #e5e5e5;
$grey_medium_dark: #d5d5d5;
$grey_darker: #555555;
$grey_darkest: #333333;
