@import 'variables';

* {
  box-sizing: border-box;
}

.link {
  @extend a;
  cursor: pointer;
}

$box-shadow-border: 1px solid $grey_medium_light;

.shadow-box {
  display: block;
  color: $grey_darkest;
  text-decoration: none;
  background-color: white;
  box-shadow: 1px 1px 5px 0 $grey_medium_light;
  margin: 1rem;

  .box-title {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: $box-shadow-border;
  }

  .banner {
    border-bottom: $box-shadow-border;
  }

  .box-search {
    font-size: 2rem;
    color: #a0a8a8;
  }

  .box-important-data {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
  }

  .list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    .item {
      padding: 1rem;
      width: 100%;
      &:not(:last-child) {
        border-bottom: $box-shadow-border;
      }
    }

    a.item {
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}

a.shadow-box:hover {
  background-color: $grey_lighter;
  cursor: pointer;
}

a {
  color: $grey_darker;
  &:hover {
    color: $blue;
  }
}

.button {
  background: limegreen;
  color: #FFFFFF;
  border-radius: $border-radius;
  border-radius: .3rem;
  padding: .5rem 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
}

.primary-button {
  @extend .button;

  background: $primary-color;
}

.secondary-button {
  @extend .button;

  background: $secondary-color;
}

.simple-button {
  @extend .button;

  background: #F5F5F5;
  color: #999999;
}

.simple-button:hover {
  background: #E5E5E5;
  color: #444444;
}

button {
  @extend .simple-button;

}

.block {
  display: block;
}

.h-center {
  margin: auto;
}
