@import 'variables';

* {
  box-sizing: border-box;
}

.link {
  @extend a
}

.shadow-box {
  display: block;
  color: $grey_darkest;
  text-decoration: none;
  background-color: white;
  box-shadow: 1px 1px 5px 0 $grey_medium_light;
  margin: 1rem;

  .box-title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid $grey_medium_light;
  }

  .box-important-data {
    font-size: 4rem;
    text-align: center;
    font-weight: 100;
  }

  img {
    width: 100%
  }

  .list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    > .item {
      padding: 1rem;
      width: 100%;
      &:not(:last-child) {
        border-bottom: 1px solid $grey_medium_light;
      }
    }
  }
}

a.shadow-box:hover {
  background-color: $grey_lighter;
  cursor: pointer;
}

a {
  color: $grey_darker;
  &:hover {
    color: $blue;
  }
}
