@import 'variables';

.highlight {
  margin: 0;
  counter-reset: line-numbering;
  table {
    width: 100%;
  }
  tr {
    width: 100%;
    td.line-number {
      display: inline-block;
      text-align: right;
      min-width: 40px;
      cursor: pointer;
      text-decoration: none;
      padding-right: 0.5rem;
    }

    td.line {
      width: 100%;
      padding-left: 0.5rem;
      border-left: 1px solid #e5e5e5;
    }
  }
  .offense {
    background-color: $red;
    cursor: pointer;
  }

  .offense-details {
    background-color: $red;
    color: $grey_lightest;
    font-weight: bold;
    padding: 0 4rem;
    width: 100%
  }

}

.offense-list {
  .highlight {
    margin-top: 0.5rem;
    border: 1px solid $grey_medium_light;
  }
  .message {
    font-weight: bold;
  }
}
