<header>
  <div class="header-left">
    <a href="/"><h1>Lint CI</h1></a>
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
        <div class="nav-item">
          <h3 class="username">
            <%= link_to current_user.username, user_settings_path %>
          </h3>
        </div>
        <div class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button secondary-button' %>
        </div>
    <% else %>

        <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github), class: 'primary-button' %>
    <% end %>
  </div>
</header>
